<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Template language</title>
</head>

<style>

    body {
        background-color: black;
        color: seashell;
    }

</style>

<body>
    {% if name == "Django course" %}
        <h2> Enter into if </h2>
        <h1>This is {{name|truncatewords:1|upper}} of duration {{duration}}.</h1>
    {% elif name == "Django Course" %}
        <h2>You entered in elif</h2>
    {% else %}
        <h2>You entered in else</h2>
    {% endif %}

    <!-- <ul>

        {% for name in names reversed %}
            <li>{{ name }}</li>
            {% empty %}
                <h3>This is emptyh</h3> 
        {% endfor %}

    </ul> -->
    <ul>

        {% for name in names %}
            {{ forloop.counter }} {{ name }} <br>
        {% endfor %}

    </ul>

     


</body>

</html>
